extends ../template

block variables
    - var title = 'Блог'

block content
    .wrapper
      .main.main_blog
        .hero_blog
          .hero-head
            .hero__social.social
              ul.social__list
                li.social__item
                  a.social__link_icon.social__link_icon_hero(href='https://vk.com/id98812614', target='_blank')
                    svg#vk.link_icon
                      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='assets/images/svg/svg/symbols.svg#vk')
                li.social__item
                  a.social__link_icon(href='https://github.com/ZarinaMambetova', target='_blank')
                    svg#github.link_icon
                      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='assets/images/svg/svg/symbols.svg#github')
                li.social__item
                  a.social__link_icon(href='https://www.instagram.com/astra_zara/', target='_blank')
                    svg#in.link_icon
                      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='assets/images/svg/svg/symbols.svg#in')
            nav.navigation
              ul.navigation-list
                li.navigation__item
                  a.navigation__link.block-title(href='./my-works.html') Мои работы
                li.navigation__item
                  a.navigation__link.block-title(href='./blog.html', target='_self') Блог
                li.navigation__item
                  a.navigation__link.block-title(href='./about.html', target='_blank') Обо мне
                li.navigation__item
                  a.navigation__link.block-title(href='./index.html', target='_blank') Авторизация
              .hamburger
                span.hamburger__line
                span.hamburger__line
                span.hamburger__line
          .hero_info.hero_info_blog
            .greeting__photo
              img.greeting__image(src='assets/images/content/my-photo.jpg', alt='my-photo')
            .block-title.name__title_blog БЛОГ
            .hero__profession.form__block_title Статьи, которые я написала
        svg.triangles.triangles__blog(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1200 108', preserveaspectratio='none')
          polygon.triangle__left(points='0,0 0,108 601,108 601,105')
          polygon.triangle__right(points='1200,0 1200,108 599,108 599,105')
        nav.sidebar
          ul.sidebar_list
            li.sidebar_item
              a.sidebar__link(href='#')
                | Впечатления о первой неделе обучения на курсе "Основы верстки"
            li.sidebar_item
              a.sidebar__link(href='#')
                | О второй неделе обучения на курсе "Основы верстки"
            li.sidebar_item
              a.sidebar__link(href='#')
                | О третьей неделе обучения на курсе "Основы верстки"
            li.sidebar_item
              a.sidebar__link(href='#')
                | О четвертой неделе обучения на курсе "Основы верстки"
            li.sidebar_item
              a.sidebar__link(href='#')
                | Впечатления о курсе "Веб для начинающих"
            span.sidebar__list-circle
        .entries
          //-   ul.article-wrap
          //- if (articles)
          //-   each index in articles
          //-       li.article
          //-         .article__title= index.title
          //-           - 
          //-             var date= new Date(index.date).toLocaleDateString('ru', { 
          //-                             year: 'numeric', 
          //-                             month: '2-digit', 
          //-                             day: '2-digit'
          //-                             })
          //-         time.article__data= date
          //-         .article__text= index.body
          ul.entries__list
            li.entries__item
              .entry__content
                h2.entry__title Впечатления о первой неделе обучения на курсе "Основы верстки"
                .entry__date 08 сентября 2017
                .entry__text
                  | Решила здесь вести своеобразный дневник о новом этапе в моей размеренной жизни. Итак, начало положено. Начался мой четырехмесячный
                  | курс в Школе онлайн образования "loftschool" по профессии "Веб-разработчик". "Что случилось? На кого учишься? Почему именно
                  | это направление?" - такие вопросы я слышала, когда говорила о предстоящем обучении. Ну, что? Ничего не случилось плохого)
                  | Просто я решила продолжить свой путь саморазвития, но на более профессиональном и серьезном уровне. Начав рукодельничать
                  | ночами, чтобы не сойти с ума от долгих декретных отпусков, я поняла, что это моё, для души, для сердца. Поняла, что могу
                  | дать часть своего позитива и добра окружающим. Но только душевным удовлетворением сыт не будешь. Очередной декретный отпуск
                  | скоро заканчивается, нынешняя работа не дает расти и развиваться, там просто не к чему стремиться... Тут и пришла эта авантюрная
                  | идея полностью сменить сферу деятельности. Сравнив программы разных школ и в последствии доверившись именно команде из loftschool,
                  | я окунулась в мир IT-технологий... Или не так. Бросилась в омут с головой)) Пока у нас прошло 2 вебинара. Впечатления хорошие.
                  | Конечно, я пока только вникаю в процесс, и не все понятно, но все условия для обучения школой созданы. Живые вебинары, грамотные
                  | и доброжелательные наставники, подробнейшие методички, видео-уроки, ссылки на полезные ресурсы, справочники и т.д. Я уже
                  | не говорю о новых интересных знакомствах и общении. Здесь организован общий чат для учащихся, где ни один вопрос не остается
                  | без внимания. Чувствуешь поддержку и сокурсников, и преподавателей. Я, как тот новичок, что впервые выехал на дорогу с инструктором
                  | на машине, маркированной буквой "У". Волнительно, но все равно очень интересно) В надежде на свое упорство, целеустремленность
                  | и желание работать я постараюсь сделать невозможное)) Пока ощущения такие - сейчас мне кажется это невозможным. Пожелаю себе,
                  | чтобы к концу курса я стала уверенным специалистом, пусть и только начинающим свой путь) Смогу ли я ужиться в этом океане
                  | информации, новых знаний, умений - покажет время. Но я ничуть не жалею, что рискнула и пошла на эту авантюру. ) Знаний много
                  | не бывает)
            li.entries__item
              .entry__content
                h2.entry__title О второй неделе обучения на курсе "Основы верстки"
                .entry__date 17 сентября 2017
                .entry__text
                  | 2 часа ночи... неяркий свет лампы... книги... коды... теги... "ok, Google,..." ... голос наставника в записи... и, конечно,
                  | же шоколад...) Вот, как проходят ночи учащихся в Школе онлайн образования "loftschool" :) Прошла вторая неделя моего обучения
                  | новой профессии. Прошла всего неделя, Карл! А я СТОЛЬКО нового узнала, что уже осмеливаюсь давать советы, участвовать с беседах
                  | об HTML и CSS))) Коряво, конечно, но в первые несколько дней я и пикнуть боялась, чтобы не сказать что-то невпопад. В моей
                  | девичьей голове, полной информации о помадах, прическах, сериалах, рецептах пирожков, мимимишных картинок с котятами и о
                  | том, кто такие Фиксики (мамы поймут), оказалось еще много свободной памяти)))) Объем полученной информации колоссальный.
                  | И это не то, что, как говорили учителя в школе: "В одно ухо влетело, из другого вылетело". Это реально интересно, занимательно,
                  | логично, а потому несложно запоминается. Конечно, нужно усердно заниматься, слушать советы, читать специальную литературу,
                  | просматривать видео-уроки, внимать мудрости наставника)) Ну, так, а без труда...? Кстати, в начале недели, увидев техническое
                  | задание по домашней работе, я была в панике: "Я не смогу!". Прошла всего неделя, а я уже чувствую в себе силы успеть все
                  | сделать до дедлайна)) Благодаря моим стараниям, конечно, и грамотно составленному плану обучения в школе я чувствую себя
                  | более уверенной. Чего и вам желаю)
            li.entries__item
              .entry__content
                h2.entry__title О третьей неделе обучения на курсе "Основы верстки"
                .entry__date 24 сентября 2017
                .entry__text
                  | Прошла еще одна интересная неделя в Школе онлайн образования "loftschool" :) Хотя, как выяснилось, веду дневник я лучше,
                  | чем пишу коды, но к завтрашнему дедлайну я постараюсь успеть))) Все приходит со временем и с трудом)) И пусть моих знаний
                  | еще катастрофически мало, но по крайней мере я не стою на месте) В этом посте хочу рассказать о людях, которые меня окружают.
                  | Всюду только и слышишь, молодежь такая-сякая, куда катится мир, всё плохо и так далее. Но, может, быть они не по тем людям
                  | судят? Плохое чаще на виду. А реальные трудяги, те, кто стремится работать, учиться, совершенствоваться, они просто заняты
                  | делом. Своим делом. Как я говорила, у нас на курсе есть общий чат. Учатся со мной просто отличные парни и девушки. Они поставили
                  | перед собой каждый свои цели и идут к ним. Это направление, эта работа не для ленивых, это я уже поняла. Просто так, без
                  | труда, без постоянного самообразования в профессии нечего делать - и они это понимают. Многие из них уже добились определенных
                  | высот, кто-то видит в себе силы начать все сначала, не боится трудностей и перемен. ...Как же мне приятно находиться в такой
                  | компании) Всегда, когда нужна помощь, ты ее получишь. Даже, когда в 12 ночи (как вы поняли, мне лучше думается ночью))) ты
                  | стучишься в личку со скорее всего глупым вопросом - тебе ответят: "Конечно, помогу, обращайся!" Это очень ценно) А по другую
                  | сторону баррикад наши преподаватели, основатели школы, наставники, кураторы. И это тоже та самая молодежь. Та самая, которая
                  | работает, которая развивается в ногу со временем, которая хочет работать и зарабатывать, та, о которой говорят меньше, чем
                  | хотелось бы. Вот, такие банальные вроде бы вещи, но которыми мне захотелось поделиться. Хочу просто всем пожелать удачи и
                  | успехов! Мне есть, с кого брать пример) Помню, в начале обучения, когда нас распределяли по наставникам, некоторые ученики
                  | писали, что они будут постарше своих учителей)) Поэтому да, молодость - это состояние души))) А учиться никогда не поздно
                  | ;)
            li.entries__item
              .entry__content
                h2.entry__title О четвертой неделе обучения на курсе "Основы верстки"
                .entry__date 08 сентября 2017
                .entry__text
                  | Ну, что?) Произошло то, к чему я так стремилась)) Вернее, пройдена важная часть пути по освоение профессии "Веб-разработчик"
                  | в Школе онлайн образования "loftschool". Почти завершился первый из трех курсов интенсива) Ура)) Я смогла)) Осталось доделать
                  | последнюю страничку и первый сайт для моего портфолио будет готов) Я не верила. Серьезно. Я на стоооолько была далека от
                  | всего этого. Видя коды к Интернет-страничкам, я говорила: "Что за абракадабра??")) А теперь, просматривая интересные для
                  | себя записи в сети, я невольно вижу только коды и мне становится это более понятным и привычным)) Сокурсники говорят, что
                  | многим снится, как они пишут коды, придумывают новые приложения, и даже обидно, что это только сон)) И сейчас смотрю на свою
                  | страницу в контакте, а вижу блоки, списки и т.д.) На этой неделе у меня было мало времени на учебу, надо наверстать упущенное.
                  | Благо все вебинары, созвоны записываются и к любому из них можно вернуться в удобное время. Вообще, время - это один из самых
                  | важных составляющих в обучении. Одного желания мало. Если нет времени, то многие просто не успевают сдать дз. Поэтому задумываясь
                  | о том, стоит ли начинать учиться, надо ответить себе на вопрос: "Будет ли у меня свободное время, чтобы успешно пройти курс?"
                  | Хочу уже сейчас сказать спасибо нашему преподавателю Владимиру Сабанцеву . Он не только грамотно ведет живые вебинары, но
                  | и дополнительно записывает поясняющие, объясняющие, помогающие, спасающие в освоении материала видео)) И особенное спасибо
                  | (стотысячное)) моему наставнику Николаю Азаркину. Мой ангел хранитель)))) Когда я понимаю, что всё, не могу, не справлюсь,
                  | не понимаю, я пишу ему и всё сразу становится на свои места. Всегда объяснит, поможет, расскажет) Уже и просить неудобно
                  | вроде, а он сам (вот, как чувствует) напишет: "Ну, что? Как успехи?" И тут ты, как на приеме у психотерапевта, изливаешь
                  | душу и рассказываешь о своих проблемах)))) Надеюсь, и дальше под твоим чутким руководством я буду идти по этому пути к новым
                  | знаниям и не оплошаю))) А пока, глядя на картинку с напоминанием о дедлайне, пойду дописывать домашнее задание) Осталось
                  | совсем немного) Всем желаю удачи и учиться на "пятерки")) Впереди еще много работы)
            li.entries__item
              .entry__content
                h2.entry__title Впечатления о курсе "Веб для начинающих"
                .entry__date 01 октября 2017
                .entry__text
                  | "Интенсивно интенсивный интенсив" Привет! Решила не оставлять затею с дневником о саморазвитии и поделиться некоторыми мыслями.
                  | Итак, пройдена большая часть второго курса обучения по профессии "Веб-разработчик" в Школе онлайн образования "loftschool".
                  | Напишу некоторые свои впечатления. Интенсивно интенсивный интенсив по веб разработке для начинающих. Подробнее - https://loftschool.com/course/web-beginner
                  | Нужно за короткое время изучить огромный объем материала. Не просто прослушать, зазубрить, а именно понять то, что до тебя
                  | стараются донести. Именно стараются, так как материалы для самоподготовки, самостоятельного обучения даны вновь весьма качественные.
                  | Мне, как новичку, хотелось бы более подробно останавливаться на каких-то моментах. Но тут почему-то очень важны сроки обучения.
                  | Ничего страшного, если бы курс длился на неделю-две дольше, но было бы дано больше информации. Тот же JavaScript идет для
                  | меня очень тяжело. Да, кому-то легче дается, кому-то сложнее. Я всё-таки надеюсь одолеть понимание этой науки)) Тем более,
                  | что потом начнется третий заключительный курс - продвинутый веб, и назад дороги нет)) Вебинары ведут разные преподаватели,
                  | что тоже очень интересно. Дмитрий Ковальчук, который очень хорошо мотивирует, поддерживает боевой дух студентов, Юрий Кучма
                  | - очень душевный человек (на мой взгляд:)), постарался донести информацию максимально понятно, и Владимир Сабанцев, качественный
                  | препод, уже знакомый по курсу "Основы верстки")) Очень помогает в обучении, в усвоении материала наставник. Как и на курсе
                  | "Основы верстки", мы поделены на небольшие подгруппы с наставником во главе. Считаю, что нашей подгруппе очень повезло, что
                  | мы попали под крыло Николая Азаркина)) Групповые созвоны по качеству на вес золота. Когда каждый из нас может задать свой
                  | вопрос по пройденному материалу, после вебинаров, при подготовке к выполнению домашнего задания, и получить развернутый ответ.
                  | Я лишь заметила, что в ходе обучения мелькало некоторое недовольство в общении с наставниками у нескольких учеников в других
                  | подгруппах, возможно, и по недоразумению, но было дело. Поэтому считаю, что мне, и в целом нашей подгруппе, повезло. Да,
                  | кстати отдельно хочу отметить наш slack-чат. Общение с сокурсниками - это очень интересно. Тут также задаем вопросы уже друг
                  | другу, если не получается что-то в домашнем задании, например, и всегда найдутся те, кто очень хочет помочь и помогает) Так
                  | как на курсе есть и новички, и более продвинутые в разработке ребята. И очень приятно, что они с охотой делятся своими знаниями)
                  | Но в чате мы не одни, с нами всегда на связи и команда Школы, которые также отвечают на волнующие вопросы. О минусах. Был
                  | момент с технической стороной проведения вебинаров, но сейчас он наконец-то решен. Хотя всё равно не порадовало, что внедрение
                  | новых технологий случилось именно в наш поток и долго пришлось ждать решения проблемы. Надеюсь, дальше всё будет только хорошо
                  | и даже лучше) Вот, так интересно проходят мои осенние деньки - почти полное погружение в учебу) Конечно, есть реал, который
                  | тоже требует много времени. И, как совет будущим студентам, в первую очередь хочу сказать, что очень важно решить вопрос
                  | именно со временем. Я говорила это и на первом курсе, говорю и сейчас. При чем, чем дальше, тем сложнее и всё свободное время
                  | тратишь на обучение, на домашние задания. Будьте к этому готовы. Возьмите отпуск даже, почему нет. И обучение пройдет в разы
                  | качественнее.
      footer.blog__footer.footer
        .container.clearfix
          .footer__row.footer_row_top
            .footer__container
              .footer__col.footer__col-left
                nav.navigation.footer__navigation
                  ul.footer__navigation-list
                    li.footer__navigation__item
                      a.navigation__link.footer__navigation__link(href='./my-works.html') Мои работы
                    li.footer__navigation__item
                      a.navigation__link.footer__navigation__link(href='./about.html', target='_self') Обо мне
                    li.footer__navigation__item
                      a.navigation__link.footer__navigation__link(href='./blog.html', target='_self') Блог
                    li.footer__navigation__item
                      a.navigation__link.footer__navigation__link(href='./index.html', target='_self') Авторизация
              .footer__col.footer__col-right
                ul.social__list
                  li.social__item
                    a.social__link_icon.social__link_icon_hero(href='https://vk.com/id98812614', target='_blank')
                      .link_icon_round
                        svg#vk.link_icon
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='assets/images/svg/svg/symbols.svg#vk')
                  li.social__item
                    a.social__link_icon(href='https://github.com/ZarinaMambetova', target='_blank')
                      .link_icon_round
                        svg#github.link_icon
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='assets/images/svg/svg/symbols.svg#github')
                  li.social__item
                    a.social__link_icon(href='https://www.instagram.com/astra_zara/', target='_blank')
                      .link_icon_round
                        svg#in.link_icon
                          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='assets/images/svg/svg/symbols.svg#in')
          .footer__row
            .footer__container
              .footer__col.footer__col-text
                .footer__text.autor_text
                  p
                    | Я веб-разработчик из Астрахани, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
              .footer__col.footer__col-right
                .footer__text_margin_top
                  p.footer__text.autor_text © Зарина Мамбетова | Создано с любовью в LoftSchool | 2017


